.poster-container {
  height: 188px;
  width: 100%;
  display: flex;
  background-color: #333333;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .poster-container {
    margin-top: 12px;
    height: 340px;
    width: 100%;
    align-items: center;
  }
}
.restaurant-poster-content-container {
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100%;
  padding: 20px 8px;
}
@media screen and (max-width: 767px) {
  .restaurant-poster-image {
    width: 221px;
    height: 221px;
    border-radius: 50%;
    margin-top: -54px;
    margin-left: -68px;
    overflow: hidden;
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .restaurant-poster-image {
    min-width: 350px;
    min-height: 240px;
    margin-left: 200px;
    border-radius: 0px;
    flex-grow: 1;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .restaurant-poster-content-container {
    flex-grow: 1;
    max-width: 800px;
    align-items: center;
  }
}
.restaurant-poster-details-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .restaurant-poster-details-container {
    min-width: 300px;
    flex-grow: 1;
    justify-content: flex-start;
    padding-top: 0px;
  }
}
.restaurant-poster-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 0px;
}

.restaurant-poster-details {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .restaurant-poster-name {
    font-size: 36px;
  }
  .restaurant-poster-details {
    font-size: 16px;
  }
}
.location {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mini-details {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0px;
}
.rating-cost-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
  justify-content: space-between;
}
.details-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .details-container {
    margin-right: 8px;
  }
}
.flex-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
