.cart-summary-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.summary-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}
.order-value-btn-container {
  display: flex;
  flex-direction: column;
}
.order-value {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}
.place-order-btn {
  border: none;
  border-radius: 8px;
  background-color: #f7931e;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .order-value {
    font-size: 16px;
  }
  .summary-heading {
    font-size: 16px;
  }
}
